# Server Environment
PORT=5000
NODE_ENV=development

# Database (MongoDB Atlas / Local)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/detaildock?retryWrites=true&w=majority

# Authentication / JWT
JWT_SECRET=your_jwt_super_secret_change_in_production
JWT_EXPIRES_IN=7d

# Client URL (CORS)
CLIENT_URL=http://localhost:5173
